.card-container {
    display: flex;
    flex-direction: column;
    background-color: #dd8c8c;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
    border-radius: 20px;
}

.card-container:hover{
    transform: scale(1.05);
}

